# patient list
case_list.csv

# llm_extracted_data output csv
llm_extracted_data*.csv

# failed requests
llm_failed_requests-*.jsonl

# authentication token
.auth_token

# downloaded files
dossier_medical_reports/
histology_reports/

# logs
logs/


# python cache
__pycache__